@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Playfair:opsz,wght@5..1200,300&family=Roboto:wght@100&display=swap');

:root {
    --background-blue: #5f8aaf;
    --background-white: whitesmoke;
    --text-background: #e0eefa;
    --text-shadow:  0.1em 0.1em 0.2em rgba(0,0,0,0.5);
    --box-shadow: 3px 3px 10px 0px #7f7f7fa3;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior:smooth;
}

h1,h2,h3 { font-family: 'Playfair Display', serif; }

p {
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    font-size: 20px;
}

header {
    padding: 0;
    margin-top: 2rem;
}

.img-wrapper {
    position: relative;  
}

.main-image {
    width: 300px;
    height: auto;
    margin: 0rem 4rem;
    object-fit: cover;
}
  
.img-wrapper h1 {
    position: absolute;
    bottom: 0.5rem;
    left: 4.5rem;
    text-align: justify;
    font-size: 4rem;
    color: var(--background-blue);
}

.arrow-right {
    z-index: -1;
    left: 0;
    top: -100px;
    position: absolute;
    border-top: 200px solid var(--background-blue);
    border-bottom: 250px solid transparent;
    border-left: 100vw solid var(--background-blue);
}

.about-me {
    position: relative;
    top: 20px;
    left: 30px;
    width: 80vw;
    padding: 1rem; 
    text-align: center;
}

.about-me h1 {
    padding-bottom: 1em;
}

.icon-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 0rem 0em;
    margin-top: 2em;
}

main {
    display: flex;
    flex-direction: column;
    gap: 3em;
    margin-bottom: 3em;
}

.project-title {
    margin: 1em 3em;
    text-align: center;
}

main section {
    display: flex;
    flex-flow: column;
    margin: 0em 2em;
    box-shadow: var(--box-shadow);
    background-color: var(--background-white);
}

.project-image {
    max-width: 100%;
    height: 300px;
    object-fit:fill;
}

.project-header {
    display: flex;
    justify-content: space-between;
    align-items: center;     
    padding: 1em;  
}

.project-description {
    padding: 1em 1.5em;
    margin-bottom: 2em;
    
}

.project-links {
    display: flex;
    gap: 1em;
}

a {
    text-decoration: none;
    color: black;
    font-size: 24px;
    
}

.project-icon {
    width: 40px;
    height: auto;
}

footer {
    display: flex;
    flex-direction: column;
    padding: 1em;
    color: white;
    background-color: var(--background-blue);
}

.contact-title {
    text-align: center;
    margin-bottom: 1em;
}

footer a {
    margin-top: 1em;
    color: white;
}

.fa-envelope,
.fa-mobile-screen,
.fa-house {
    display: none;
}

.footer-image {
    width: 50%;
    height: auto;
}

.footer-text {
    margin-bottom: 1em;
}

.icon-footer {
    display: flex;
    gap: 1em;
    justify-content: center;
    margin-bottom: 1em;
}

/* Laptop */
@media only screen and (min-width: 800px) {
    header {
        display: flex;
        align-items: center;
        padding: 0;
        margin: 2rem 2rem ;
    }

    .main-image {
        width: 400px;
        height: auto;
        margin: 2rem 0rem 2rem 1rem;
    }

    .img-wrapper h1 {
        position: absolute;
        bottom: 2rem;
        left: 3rem;
        color: var(--background-blue);
        font-size: 3.5rem;
        letter-spacing: 2.5px;
    }

    .arrow-right {
        z-index: -1;
        left: 0;
        top: -100px;
        position: absolute;
        border-top: 200px solid #5f8aaf;
        border-bottom: 250px solid transparent;
        border-left: 100vw solid #5f8aaf;
        margin-left: -2rem;
    }

    .about-me {
        z-index: 0;
        top: 0;
        left: 0;
        width: 800px;
        text-align: justify;
        background-color: var(--text-background);
        box-shadow: var(--box-shadow);
        padding: 2rem;
        margin-right: 2rem; 
    }

    .icon-container {
        display: flex;
        justify-content: end;
        gap: 1rem;
        padding: 0rem;
        margin-top: 2em;
    }

    main {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        grid-row-gap: 3em;
        grid-column-gap: 0.5em;
    }

    .project-title {
        margin: 0.2em 1em;
        text-align: left;
    }  

    footer {
        display: flex;
        flex-direction: row;
        gap: 3em;
        padding: 1em;
        color: white;
        background-color: var(--background-blue);
    }

    .fa-envelope,
    .fa-mobile-screen,
    .fa-house {
        display: block;
    }

    .contact-title {
        text-align: justify;
        margin-bottom: 1em;
    }

    .footer-image {
        width: 50%;
        height: auto;
        padding: 2em;
    }

    .contact-info {
        padding: 3em 4em;
    }

    .icon-footer {
        color: #000;
        justify-content: left;
        margin-bottom: 1em;
    }

    .icon-footer i {
        color: black;
    }

    .fa-brands {
        transition: all 0.3s ease-out;
        filter: drop-shadow(0.15em 0.15em, 0.15em #000)
    }

    .fa-brands:hover,
    .fa-brands:focus {
        transform: rotate(720deg) scale(1.2);
        filter: drop-shadow(0 0 0.3em #fff);
    }

    a:visited,
    a:link {
        text-decoration: none;
        text-shadow: var(--text-shadow);
        transition: all 0.2s ease-out;
    }

    a:hover,
    a:focus {
        text-decoration: underline;
        text-shadow: 0 0 0.5em #fff;
    }

}
